%html
  %head
    = css_include 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css'
    = css_include_tree 'stylesheets'
  %body{ 'ng-app' => 'ReportGenerator' }
    %report

  = js_include 'vendor/underscore/underscore-min.js'
  = js_include 'vendor/angular/angular.min.js'
  = js_include_tree 'js'

